# Quartus and ModelSim files
db/
incremental_db/
*.bak
*.done
*.jdi
*.log
*.smsg
*.sof
*.summary
*.sld
*.sopcinfo
*.qpf
*.qsf
*.qws
*.rpt
*.vho
*.vqm
*.vqs
*.bsf
*.cmp
*.ipf
*.bak
*.qip

# Vivado files
*.cache/
*.hw/
*.ip_user_files/
*.sim/
*.srcs/
*.runs/
*.xpr
*.log
*.jou
*.bak
*.str
*.dcp
*.ltx
*.syn
*.bit
*.hwdef
*.xdc
*.tcl
*.pb
*.mif

# Ignore compiled files
*.o
*.obj
*.exe
*.dll
*.so
*.lib
*.a
*.out
*.bin

# Ignore temporary files
*.tmp
*.swp
*~

